@font-face {
    font-family: Courier New;
    src: url(/CourierStd.ttf)
}
body{
    width: 900px;
    height: 760px;
}
.background {
    position: relative;
    top: 0;
    left: 0;
    background-color: #272827;
    width: 900px;
    height: 760px;
    color: #ffffff;
    font-family:
    /* подключить шрифт */

}

.rectangle {
    position: relative;
    left: 20px;
    top: 80px;
    width: 860px;
    height: 600px;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.top_header {
width: 860px;
position: relative;
top: -570px;
left: 20px;
display: flex;
flex-direction: row;
justify-content: space-between;
}

h1{
    font-family: Courier New;
    font-size: 16px;

}

.messages {
    font-family: Courier New;
    font-size: 16px;
    width: 840px;
    position: relative;
    left: 35px;
    bottom: 560px;
}

.bottom_header {
    width: 700px;
    position: relative;
    bottom: 520px;
    left: 20px;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.date {
    position: relative;
    left: 150px;
}
